.aboutSection {
  padding-bottom: 2rem;
  margin-bottom: 20rem;
}
.aboutSection h2 {
  margin-bottom: 6rem;
  text-align: center;
}
.aboutContainer {
  /* border: 2px solid #52e055; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  margin: 0 1rem;
  padding: 0.4rem 0;
  background-color: none;
}
.aboutContainer p {
  margin: 0.5rem 1rem;
}
.aboutContainer div p {
  text-align: left;
}

.smallDivider {
  height: 2px;
  background-color: #fff;
  margin: 1rem 1rem;
}
.outsideWorkText {
  /*  */
  text-decoration: underline;
  text-decoration-color: #568eff;
}
