form {
  display: grid;
  color: black;
  background-color: #2e73ff;
  margin: 0 1rem;
  padding: 0.5rem 0;
  border-radius: 11px;
  text-align: center;
  font-size: 18px;
}
form div {
  margin-bottom: 1.2rem !important;
}
.formElementsWrapper {
  margin: 0 1.6rem;
}
label,
button {
  color: #fff;
  font-weight: 500;
}
form input {
  /* margin: 0 1rem; */
  width: 100%;
  border-radius: 11px;
  outline: none;
  border: 2px solid #777;
}
.textAreaDiv {
  display: flex;
  flex-direction: column;
  /* margin: 0 1rem; */
}
form div textarea {
  border-radius: 5px;
  padding: 0 0.2rem;
}
button {
  color: white;
  background-color: #003fbd;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
}
button:active {
  color: #003fbd;
  background-color: #fff;
}
form p {
  color: #fff;
  margin: 0;
}
.msgSentText {
  color: #fff;
}
.contactIconsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0 6rem; */
  margin-top: 2rem;
  border-radius: 11px;
  text-align: center;
  /* background-color: #52e055; */
  gap: 1rem;
  padding: 1rem;
  /* text-align centers the icon, which for some reason reacts to text alignment */
}
.socialIconsImg {
  /* border: 2px solid black; */
  width: 70%;
  height: 75% !important;
}
.gitHubImg {
  color: white;
  filter: invert(1);
  /* inverts color to change github kitty to white/black */
}

.cvImg {
  height: 65% !important;
}
.socialIconsLink p {
  margin: 0 !important;
  padding: 0 !important;
}
