header {
  margin-bottom: 6rem;
}
header nav {
  display: flex;
  justify-content: right;
  max-width: 100%;
}
header nav {
  margin-top: 0.6rem;
}

header nav a {
  padding: 0 0.3rem !important;
  margin: 0 0.2rem !important;
}
