:root {
  --introHeading: #fff;
  --lighter1: #5b9af9;
  --lighter2: #5b9af9;
  --neutral: #fff;
  --darker1: #5b9af9;
  --darker2: #3284fe;
}
.introSection {
  display: flex;
  align-items: start;
  margin-bottom: 20rem;
  padding-top: 12rem;
  margin-left: 11rem;
  column-gap: 15rem;
}

.introHeading {
  color: var(--paras);
  font-weight: 600;
  font-size: 6rem;
}
.introSection p {
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.8rem;
}
.profilePic {
  width: 19rem;
  height: 14rem;
  border-radius: 50%;
  /* box-shadow: 0 0 10px 2px var(--lighter1); */
  /* box-shadow: 0 0 10px 10px #52e055; */
}
.obligatoryIntro {
  color: var(--h3);
  text-decoration: underline;
  text-underline-offset: 7px;
}
.laptopContainer {
  margin-top: 16rem;
  margin-left: 11rem;
}
.laptopContainer p {
  font-size: 1.5rem;
}

/* Animation */
.introSection {
  animation-name: fadein;
  animation-duration: 1.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
    padding-top: 30%;
  }
  to {
    opacity: 1;
    padding-bottom: 0;
  }
}
.smallHeadline {
  /* animation: colorChange 5s infinite; */
}
/* 
colors: 
#5b9af9
*/

@keyframes colorChange {
  0% {
    color: var(--lighter1);
  }
  25% {
    color: var(--lighter1);
  }
  50% {
    color: #fff;
  }
  75% {
    color: var(--lighter1);
  }
  100% {
    color: var(--lighter1);
  }
}

.profilePic {
  /* animation: colorChangePic 5s infinite; */
}
@keyframes colorChangePic {
  0% {
    box-shadow: 0 0 10px 2px var(--darker2);
  }
  25% {
    box-shadow: 0 0 10px 2px var(--lighter2);
  }
  50% {
    box-shadow: 0 0 15px 5px var(--neutral);
  }
  75% {
    box-shadow: 0 0 10px 2px var(--darker1);
  }
  100% {
    box-shadow: 0 0 10px 2px var(--darker2);
  }
}
/* Sphere guide animation */

.sphereGuide {
  position: absolute;
  left: 24%;
  bottom: -20%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: solid 2px var(--h3);
  box-shadow: 0 0 25px 2px var(--h3);
  background-color: var(--paras);
  opacity: 0;
}
.sphereGuide {
  animation: 7s sphere;
  animation-delay: 2s;
}
@keyframes sphere {
  0% {
    bottom: -20%;
    opacity: 1;
  }

  50% {
    bottom: 10%;
    opacity: 1;
  }

  100% {
    bottom: -20%;
    opacity: 0;
  }
}
