.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}
.introSection h1 span {
  /* color: #52e055; */
  color: #5b9af9;
}
.underlineSpan {
  text-decoration: underline #52e055;
}

.introHeading {
  color: white !important;
}
.introSection p {
  margin: 0 10%;
  text-align: center;
  margin-bottom: 1rem;
}
.profilePic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* box-shadow: 0 0 10px 10px #52e055; */
}
/* Animation */
.introSection {
  animation-name: fadein;
  animation-duration: 1.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
    padding-right: 20%;
  }
  to {
    opacity: 1;
    padding-right: 0;
  }
}
.smallHeadline {
  animation: colorChange 5s infinite;
}
/* 
colors: 
#5b9af9
*/
:root {
  --lighter1: #5b9af9;
  --lighter2: #5b9af9;
  --neutral: #fff;
  --darker1: #5b9af9;
  --darker2: #3284fe;
}
@keyframes colorChange {
  0% {
    color: var(--lighter1);
  }
  25% {
    color: var(--lighter1);
  }
  50% {
    color: #fff;
  }
  75% {
    color: var(--lighter1);
  }
  100% {
    color: var(--lighter1);
  }
}

.profilePic {
  animation: colorChangePic 5s infinite;
}
@keyframes colorChangePic {
  0% {
    box-shadow: 0 0 10px 2px var(--darker2);
  }
  25% {
    box-shadow: 0 0 10px 2px var(--lighter2);
  }
  50% {
    box-shadow: 0 0 15px 5px var(--neutral);
  }
  75% {
    box-shadow: 0 0 10px 2px var(--darker1);
  }
  100% {
    box-shadow: 0 0 10px 2px var(--darker2);
  }
}
