:root {
  --links: #52e055;
}

.divider {
  height: 3px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  margin: 3rem auto;
  border-radius: 5px;
}

a {
  margin: 0 !important;
  padding: 0 !important;
}

.projectsSection p {
  margin: 1rem 5%;
  text-align: center;
}
/* PROJECTS STYLING AND ALIGNMENT */
.projectsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.projectWrapper {
  width: 85%;
}
.projectsBorder {
  padding: 1rem 0.8rem;
  margin-bottom: 3rem !important;
  /* box-shadow: 0 0 10px 3px white; */
  border-radius: 9px;
}
.projectsWrapperDiv {
  /* border: 2px solid var(--links); */
  box-shadow: 0 0 7px 2px var(--links);
  border-radius: 11px;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}
/* setting image size */
.projectWrapper div img {
  width: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Tech Div that wraps spans of tech */
.techDiv {
  border: none !important;
  box-shadow: none !important;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.2rem;
  justify-content: center;
}
/* TECH STACKS ELEMENTS */
.tech,
.tech2 {
  color: white;
  margin-right: 0.1rem;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  font-weight: 500;
}
.techHtml {
  margin-left: 0.3rem;
  background-color: #ff9e0d;
}
.techCss {
  margin-left: 0.3rem;
  background-color: #005be4;
}

.techJquery {
  margin-left: 0.3rem;
  background-color: #02fc90;
  color: black;
}
.techJS {
  margin-left: 0.3rem;
  color: black;
  background-color: #fafa00;
  padding: 0 0.6rem;
}
.techMoment {
  margin-left: 0.3rem;
  background-color: #5b5b5b;
}
.techApi {
  color: white;
  margin-left: 0.3rem;
  background-color: #c10720;
}
.bstrap {
  background-color: purple;
  margin-left: 0.3rem;
  color: white;
}
.nodejs {
  background-color: #60c48a;
  color: white;
}

.projectLinksBottom {
  display: grid;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}
.projectLinksBottom a {
  color: black;
  background-color: #54fc57;
  border-radius: 5px;
  padding: 0.3rem 5rem !important;
  margin-top: 1.2rem !important;
}

/* *************** */
/* ANIMATIONS */
.projectsWrapperDiv {
  /* box-shadow: 10px 0 20px 1px #ffffff !important; */
  animation: myAnim 12s ease-in infinite;
}
@keyframes myAnim {
  /* offset-x | offset-y */
  0% {
    box-shadow: 0px 0px 10px 5px #2a2a2a;
    /* 028b3d */
  }
  25% {
    box-shadow: 0px 0px 10px 5px #2a2a2a;
    /* 028b3d */
  }
  50% {
    box-shadow: 0px 0px 10px 5px #09e96a;
  }
  75% {
    box-shadow: 0px 0px 10px 5px #2a2a2a;
    /* 028b3d */
  }
  100% {
    box-shadow: 0px 0px 10px 5px #2a2a2a;
  }
}
