/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COLORS */
:root {
  --background: #252525;
  --links: #52e055;
  /* 
  Green styles
  #28de2b 
  #52e055
  */
}
/* GLOBAL COLORS AND DECORATIONS */
a {
  color: var(--links);
  text-decoration: none;
}
/* FONT SIZE */
a {
  font-size: 1.2rem;
}
/* IMAGE SIZE */
img {
  height: 350px !important;
  border-radius: 11px;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background);
}

@media screen and (min-width: 300px) {
  header nav {
    justify-content: center;
  }
}
