/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COLORS */
:root {
  --background: #252525;
  --links: #52e055;
  --white: #fff;
  /* 
  Green styles
  #28de2b 
  #52e055
  */
}
/* GLOBAL COLORS AND DECORATIONS */
a {
  color: var(--links);
  text-decoration: none;
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 11px;
  transition: all 0.5s;
}
/* LINKS STYLING AND EFFECTS */
a:hover {
  color: var(--white);
  box-shadow: 0 0 5px 2px var(--links);
  transition: all 0.5s;
}
a:active {
  box-shadow: 0 0 5px 3px var(--white);
  transition: all 0.1s;
}
/* FONT SIZE */
a {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.6rem !important;
}
/* IMAGE SIZE */
img {
  height: 350px !important;
  border-radius: 11px;
}
/* Section Headings */
h2 {
  text-align: center;
  color: var(--links);
}

/* *********** */
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background);
}

@media screen and (min-width: 300px) {
  header nav {
    justify-content: center;
  }
}
