/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COLORS */
:root {
  --background: linear-gradient(15deg, #432f71 30%, #070018);
  /*
  linear-gradient(
    to bottom,
    #000307,
    #061a2c,
    #002a51,
    #003a77,
    #02499e
    */

  /* --background: #252525; */
  --linksHover: #966dff;
  --white: #02f2ff;
  --linksAndParagraphs: #ddd;
  --span: #966dff;
  --paras: #ddd;
  --h3: #966dff;
  --sectionHeading: #ddd;
  /* #aa88fd */
  /* 
  Green styles
  #28de2b 
  #52e055
  */
}

/* POSITIONING */

/* GLOBAL COLORS AND DECORATIONS */
a {
  color: var(--links);
  text-decoration: none;
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 11px;
  transition: all 0.5s;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
p {
  color: var(--paras);
  text-align: center;
}
span {
  color: var(--span);
}
/* LINKS STYLING AND EFFECTS */
header nav a:hover {
  color: var(--linksHover);
  /* text-decoration: underline; */
  /* box-shadow: 0px 0px 2px 1px var(--linksHover); */
  text-decoration: underline;
  text-underline-offset: 7px;
  /* transition: all 0.5s; */
}
header nav a:active {
  box-shadow: 0 0 5px 3px var(--white);
  transition: all 0.5s;
}
/* FONT SIZE */
header nav a {
  font-size: 1.2rem;
  transition: all 0.5s;
}

/* IMAGE SIZE */
img {
  height: 300px !important;
  border-radius: 11px;
}
/* Section Headings */
h2 {
  text-align: center;
  color: var(--sectionHeading);
  font-size: 3rem;
}

/* *********** */
body {
  /*font:  "Mukta", */
  font-family: "Kumbh Sans", sans-serif;
  background: var(--background);
  background-attachment: fixed;
}
