@media screen and (min-width: 300px) {
  /* ROOT */
  /* prevent horizontal scroll */
  .divMain {
    overflow-x: hidden;
    margin: 0 10px !important;
  }

  h2 {
    font-size: 2.4rem !important;
  }

  /* HEADER */
  header {
    display: grid !important;
    grid-template-columns: 1fr;
  }

  /* Social Icons container */
  .contactIconsContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    column-gap: 0 !important;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    width: 100%;
  }

  header nav a {
    font-size: 1.3rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* INTRO SECTION */
  .introSection {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0 !important;
    margin-top: 14rem !important;
    padding: 0 !important;
  }
  .introHeading {
    font-size: 2.6rem !important;
  }
  .introHeadingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  .introSection p {
    font-size: 1.1rem !important;
  }
  .introHeading,
  .introSection p {
    text-align: center !important;
  }
  .profilePic {
    max-width: 70% !important;
    height: auto !important;
    border-radius: 11px !important;
    border: solid 1px #5203b3;
  }

  .laptopContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0rem !important;
    margin-left: 0rem !important;
  }
  .laptopContainer p {
    text-align: left !important;
    font-size: 1rem !important;
    margin: 1% 5% !important;
  }
  .laptopContainer p:first-of-type {
    margin-top: 1rem !important;
  }

  /* PROJECTS */
  .projectsSection {
    display: grid !important;
    grid-template-columns: 1fr !important;
    justify-content: center;
    margin: 0 !important;
    margin-top: 14rem !important;
    padding: 0 !important;
    gap: 2rem;
  }

  .projectsSection h2 {
    margin-bottom: 2.5rem !important;
  }

  .divider {
    display: none;
  }

  .projectWrapper {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .projectWrapper div img {
    max-width: 100% !important;
    height: auto !important;
  }
}
